<div id="band" class="container text-center">

  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner" role="listbox" style=" height: 150px;">

    </div>
  </div>
  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4 content">
      <h3>Forgot Password</h3>

      <form (ngSubmit)="onSubmit()" #forgotForm="ngForm" *ngIf="!afterResend">
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input class="form-control" id="exampleInputEmail1" type="email" aria-describedby="emailHelp" placeholder="Enter Email" [(ngModel)]="email"
            name="email">
        </div>


        <button type="submit" class="btn btn-success" [disabled]="!forgotForm.form.valid">Submit</button>
      </form>
      <div *ngIf="afterResend" class="alert alert-success">
        {{message}}.
      </div>
    </div>

  </div>
</div>