<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <!-- <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol> -->
  <!-- Wrapper for slides -->

  <div id="openModal1" class="modalDialog">
      <div style="background:#ececec">
          <a href="#close" title="Close" class="close">X</a>
          <p>The CodNow team is on a mission to enrich the skills of every programmers providing Single
            Programming Landscape to learn, practice and showcase through regular assessment based on the basic
            programming skills that makes one eligible for the right job.<br><br>
            The CodeNow is the destination for the best programmers to empower the skills and for recruiters to
            find highly talented programmers.</p>
          <ul class="firstSlide">
              <li>Get personalized course recommendations</li>
              <li>Access anywhere,No hardware or software dependency,Compatible with browsers and devices</li>
              <li>Access 5,000+ practice programming challenges at different levels(Easy,Medium,Hard)</li>
              <li>500 + videos on various topics</li>
            <li>Use code challenges to practice while you learn</li>
              <li>15 + Technologies through SPL to learn from and adding more</li> 
               <li>Assess your progress with code challenges and test </li>     
            <li>providing logic building: pseudo-code ->algorithm ->mind-mapping ->Program></li>
            <li>Offline viewing to learn on the go</li>
              <li>Earn a certificate when you complete a course</li> </ul>
      </div>
      </div>

      <div id="openModal2" class="modalDialog">
          <div>
              <div style=" margin: 12px; overflow-y: scroll;height: 500px;">
              <a href="#close" title="Close" class="close">X</a>
              <p>Competitive programming can be a mind game held over internet or any local network. As per the
                  specific instructions, contestants have to code the program. Competitive programming is worldwide
                  recognized and supported by Google, Facebook, ACM ICPC, TCS and many more.<br>
                  A competitive contest usually involves the contestant to solve a set of logical or mathematical problems
                  and the contestants are required to write computer programs.<br>
                  Assessment is based on the number of problems solved, time spent for writing, quality of output,
                  execution time, space occupied by the program, etc.<br>
                  
                  The challenges in the competitive programming in CodeNow help you to be the best in problem solving
                  with the best logic. Every 15 days hackathon coding contest highlights your capability in competing with
                  your problem solving skills.</p>
                  <b>Worldwide striking Competition</b>
                  
<p><strong>Short-term</strong></p>

<ul>
<li><a href="#" title="ACM International Collegiate Programming Contest">ACM-ICPC</a>&nbsp;- one of the oldest competitions, for students of universities in groups of 3 persons each</li>
<li><a href="#" title="American Computer Science League">ACSL</a>&nbsp;- computer science competition with written and programming portions, for middle/high school students</li>
<li><a href="#" title="Google Code Jam">Google Code Jam</a>&nbsp;- competition held from 2003, provided and sponsored by&nbsp;<a href="" title="Google">Google</a></li>
<li><a href="#" title="Facebook Hacker Cup">Facebook Hacker Cup</a>&nbsp;- competition held from 2011, provided and sponsored by&nbsp;<a href="Facebook" title="Facebook">Facebook</a></li>
<li><a href="" title="CodeNow">CodeNow</a>&nbsp;Ad Infinitum&nbsp;- Math Programming Contest by&nbsp;<a href="CodeNow" title="CodeNow">CodeNow</a></li>
<li><a href="" title="CodeChef">CodeChef</a>&nbsp;Cook-Off- an ACM-ICPC style programming contest held on second last Sunday of every month</li>
<li><a href="" title="CodeChef">CodeChef</a>&nbsp;LunchTime&nbsp;- a Junior Programming series held on last Sunday of every month, for middle/high school students</li>
<li><a href="" title="CodeChef">CodeChef</a>&nbsp;SnackDown<span style="font-size: 13.3333px;"> </span>- An annual multi round global programming contest hosted by&nbsp;<a href="CodeChef" title="CodeChef">CodeChef</a></li>
<li><a href="" title="IEEEXtreme Programming Competition">IEEEXtreme Programming Competition</a>&nbsp;- annual competition for IEEE Student Members held since 2006 by&nbsp;<a href="IEEE" title="IEEE">IEEE</a></li>
<li><a href="" title="International Olympiad in Informatics">IOI</a>&nbsp;- one of the oldest competitions, for secondary school students</li>
<li><a href="" title="Topcoder Open">Topcoder Open (TCO)</a>&nbsp;- Algorithm - competition held since 2004 by&nbsp;<a href="Topcoder" title="Topcoder">Topcoder</a></li>
<li><a href="" title="Yandex">Yandex</a>&nbsp;Algorithm - competition held since 2013 by&nbsp;<a href="" title="Yandex">Yandex</a>;</li>
</ul>

<p>In most of the above competitions, since the number of contestants is quite large, competitions are usually organized in several rounds. They usually require online participation in all rounds except the last, which require onsite participation. A special exception to this is IEEEXtreme, which is a yearly 24-hour virtual programming competition. The top performers at IOI and ACM-ICPC receive gold, silver and bronze medals while in the other contests, cash prizes are awarded to the top finishers. Also hitting the top places in the score tables of such competitions may attract interest of recruiters from software and Internet companies.</p>

<p><strong>Long-term</strong></p>

<ul>
<li>Al Zimmermann's Programming Contests&nbsp;- a three-month competition, arranged once or twice a year</li>
<li><a href="" title="CodeChef">CodeChef</a>&nbsp;Long Challenges</li>
<li>Google&nbsp;<a href="" title="AI Challenge">AI Challenge</a>&nbsp;- bi-annual competitions for students that ran 2009 to 2011</li>
<li><a href="" title="CodeNow">CodeNow</a>&nbsp;Week of Code&nbsp;- 7-day contest by&nbsp;<a href="" title="CodeNow">CodeNow</a></li>
<li><a href="" title="Halite (programming competition) (page does not exist)">Halite</a>&nbsp;- An AI programming challenge. Halite I was held from November 2016 to February 2017 and Halite II is being held from October 23, 2017 to January 22, 2018. Both are sponsored by Two Sigma and Cornell Tech&nbsp;Google has also provided support for Halite II</li>
<li><a href="" title="ICFP Programming Contest">ICFP Programming Contest</a>&nbsp;- annual 3-day competition held since 1998 by the&nbsp;<a href="International_Conference_on_Functional_Programming" title="International Conference on Functional Programming">International Conference on Functional Programming</a></li>
<li><a href="" title="Kaggle">Kaggle</a></li>
<li><a href="" title="Russian AI Cup">Russian AI Cup</a>&nbsp;open artificial intelligence programming contest</li>
<li><a href="" title="Topcoder">Topcoder</a>&nbsp;Marathon Matches</li>
</ul>

</div>
                        </div>
          </div>

  <div id="openModal3" class="modalDialog">
    <div>
      <a href="#close" title="Close" class="close">X</a>

      <p>The updated trends in the highlighted strategic technologies have a great impact in many organizations. IT programmers
        have to highlight these updated trends into their upcoming strategies.
        <br> Over the next few decades, the following strategic technology trends explore how Artificial Intelligence (AI) and
        Machine learning are seeping into virtually everything and represent a major battleground for technology providers,
        focus on blending the digital and physical world to create an immersive, digitally environment and to explore the
        connection between the expanding set of people and business, as well as devices, content and services to deliver
        digital business outcomes.
        <br>
        <br>
        <b>Strategic technologies:</b>
        <br> Artificial Intelligence
        <br> Intelligent Apps and Analytics
        <br> Intelligent Things
        <br>
        <br>
        <b>Digital Technologies:</b>
        <br> Digital Twin
        <br> Cloud to the Edge
        <br> Conventional Platforms
        <br>
        <b>Cross Platforms:</b>
        <br>
        <br> Block chain
        <br> Event Driven
        <br> Continuous Adaptive Risk and Trust
        <br> CodeNow explores soon… </p>
    </div>
  </div>


  <div class="carousel-inner">
    <div class="item active">
      <a href="#openModal1">
        <img src="../assets/images/1.jpg" alt="Los Angeles" style="width:100%; height:300px">
      </a>
      <!--<div class="carousel-caption">
             <h1>Simplify your programing landscape.</h1>
            <p>The 4th Industrial Revolution is here. Enable consumers by developing digital storefronts that reimagine the digital customer experience.</p> -->
      <!-- </div> -->
    </div>

    <div class="item">
      <a href="#openModal2">
        <img src="../assets/images/2.jpg" alt="Chicago" style="width:100%;height:300px">
      </a>
      <!-- <div class="carousel-caption">  
            <h1>Competitive Programming Strategy</h1>  
             <p>The 4th Industrial Revolution is here. Enable consumers by developing digital storefronts that reimagine the digital customer experience.</p>
          </div>-->
    </div>

    <div class="item">
      <a href="#openModal3">
        <img src="../assets/images/3.jpg" alt="New york" style="width:100%;height:300px">
      </a>
      <!-- <div class="carousel-caption">
            <h1>Learning efficiency, and Digital suitability</h1> 
            <p>The 4th Industrial Revolution is here. Enable consumers by developing digital storefronts that reimagine the digital customer experience.</p> 
          </div> -->
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div id="band" class="color-white text-center" style="background-image: url('../assets/images/lg-landing.jpg');    background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #3A3F50;height: 58%;">


  <div class="row" style="margin:0px;">
    <div class="col-sm-2"></div>
    <div class="col-sm-10 content">
      <h1 style="text-align:left;">Welcome to the
        <br>Code Now |
        <span style="color:yellow">Practice</span>
      </h1>
    </div>
    <div class="col-sm-2"></div>
    <div class="col-sm-4 content">
      <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
        <div class="list-group-item">
          <label for="exampleInputEmail1" class="sr-only ng-binding">Email address</label>
          <input class="form-control" id="exampleInputEmail1" type="email" aria-describedby="emailHelp" [(ngModel)]="email" placeholder="Enter Email"
            name="email" #inputFIeld>
        </div>

        <div class="list-group-item">
          <label for="exampleInputPassword1" class="sr-only ng-binding">Password</label>
          <input class="form-control" id="exampleInputPassword1" type="password" [(ngModel)]="password" placeholder="Enter Password"
            name="pwd" #inputFIeld>

          <div *ngIf="!loginSuccess" class="alert alert-danger">
            Please enter the correct Email/Password.
          </div>
        </div>
        <div class="form-group">
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox" [(ngModel)]="remember" name="remember"> Remember Password</label>
          </div>
        </div>
        <button style="width:100%" type="submit" class="btn btn-warning">
          <span class="glyphicon glyphicon-log-in"></span>&nbsp; &nbsp;Login</button>
      </form>
      <!-- <div><a style="padding-top:10px; color:#fff;" routerLink="/forgot-password">Forgot Password?</a></div> -->
      <!-- <div><a routerLink="/register">Register</a></div> -->
    </div>

  </div>
</div>