<div class="timepicker-wrapper" style="display: inline-block;top: 706px;left: 564.859px;">
  <ul class="timepicker-list">
    <li (click)="emit($event)" [ngClass]="{'timepicker-selected':(innerText==='00:00')}">00:00</li>
    <li (click)="emit($event)" [ngClass]="{'timepicker-selected':(innerText==='00:15')}">00:15</li>
    <li (click)="emit($event)" [ngClass]="{'timepicker-selected':(innerText==='00:30')}">00:30</li>
    <li (click)="emit($event)" [ngClass]="{'timepicker-selected':(innerText==='00:45')}">00:45</li>
    <li (click)="emit($event)" [ngClass]="{'timepicker-selected':(innerText==='01:00')}">01:00</li>
    <li (click)="emit($event)" [ngClass]="{'timepicker-selected':(innerText==='01:15')}">01:15</li>
    <li (click)="emit($event)" [ngClass]="{'timepicker-selected':(innerText==='01:30')}">01:30</li>
    <li (click)="emit($event)" [ngClass]="{'timepicker-selected':(innerText==='01:45')}">01:45</li>
    <li (click)="emit($event)" [ngClass]="{'timepicker-selected':(innerText==='02:00')}">02:00</li>
    <li (click)="emit($event)" [ngClass]="{'timepicker-selected':(innerText==='02:15')}">02:15</li>
    <li (click)="emit($event)" [ngClass]="{'timepicker-selected':(innerText==='02:30')}">02:30</li>
    <li (click)="emit($event)" [ngClass]="{'timepicker-selected':(innerText==='02:45')}">02:45</li>
    <li (click)="emit($event)" [ngClass]="{'timepicker-selected':(innerText==='03:00')}">03:00</li>
    <li (click)="emit($event)" [ngClass]="{'timepicker-selected':(innerText==='03:15')}">03:15</li>
    <li (click)="emit($event)" [ngClass]="{'timepicker-selected':(innerText==='03:30')}">03:30</li>
    <li (click)="emit($event)" [ngClass]="{'timepicker-selected':(innerText==='03:45')}">03:45</li>
    <li (click)="emit($event)" [ngClass]="{'timepicker-selected':(innerText==='04:00')}">04:00</li>
    <li (click)="emit($event)" [ngClass]="{'timepicker-selected':(innerText==='04:15')}">04:15</li>
    <li (click)="emit($event)" [ngClass]="{'timepicker-selected':(innerText==='04:30')}">04:30</li>
    <li (click)="emit($event)" [ngClass]="{'timepicker-selected':(innerText==='04:45')}">04:45</li>
    <li (click)="emit($event)" [ngClass]="{'timepicker-selected':(innerText==='05:00')}">05:00</li>
    <li (click)="emit($event)" [ngClass]="{'timepicker-selected':(innerText==='05:15')}">05:15</li>
    <li (click)="emit($event)" [ngClass]="{'timepicker-selected':(innerText==='05:30')}">05:30</li>
    <li (click)="emit($event)" [ngClass]="{'timepicker-selected':(innerText==='05:45')}">05:45</li>
    <li (click)="emit($event)" [ngClass]="{'timepicker-selected':(innerText==='06:00')}">06:00</li>
    <li (click)="emit($event)" [ngClass]="{'timepicker-selected':(innerText==='06:15')}">06:15</li>
    <li (click)="emit($event)" [ngClass]="{'timepicker-selected':(innerText==='06:30')}">06:30</li>
    <li (click)="emit($event)" [ngClass]="{'timepicker-selected':(innerText==='06:45')}">06:45</li>
    <li (click)="emit($event)" [ngClass]="{'timepicker-selected':(innerText==='07:00')}">07:00</li>
    <li (click)="emit($event)" [ngClass]="{'timepicker-selected':(innerText==='07:15')}">07:15</li>
    <li (click)="emit($event)" [ngClass]="{'timepicker-selected':(innerText==='07:30')}">07:30</li>
    <li (click)="emit($event)" [ngClass]="{'timepicker-selected':(innerText==='07:45')}">07:45</li>
    <li (click)="emit($event)" [ngClass]="{'timepicker-selected':(innerText==='08:00')}">08:00</li>
    <li (click)="emit($event)" [ngClass]="{'timepicker-selected':(innerText==='08:15')}">08:15</li>
    <li (click)="emit($event)" [ngClass]="{'timepicker-selected':(innerText==='08:30')}">08:30</li>
    <li (click)="emit($event)" [ngClass]="{'timepicker-selected':(innerText==='08:45')}">08:45</li>
    <li (click)="emit($event)" [ngClass]="{'timepicker-selected':(innerText==='09:00')}">09:00</li>
    <li (click)="emit($event)" [ngClass]="{'timepicker-selected':(innerText==='09:15')}">09:15</li>
    <li (click)="emit($event)" [ngClass]="{'timepicker-selected':(innerText==='09:30')}">09:30</li>
    <li (click)="emit($event)" [ngClass]="{'timepicker-selected':(innerText==='09:45')}">09:45</li>
    <li (click)="emit($event)" [ngClass]="{'timepicker-selected':(innerText==='10:00')}">10:00</li>
    <li (click)="emit($event)" [ngClass]="{'timepicker-selected':(innerText==='10:15')}">10:15</li>
    <li (click)="emit($event)" [ngClass]="{'timepicker-selected':(innerText==='10:30')}">10:30</li>
    <li (click)="emit($event)" [ngClass]="{'timepicker-selected':(innerText==='10:45')}">10:45</li>
    <li (click)="emit($event)" [ngClass]="{'timepicker-selected':(innerText==='11:00')}">11:00</li>
    <li (click)="emit($event)" [ngClass]="{'timepicker-selected':(innerText==='11:15')}">11:15</li>
    <li (click)="emit($event)" [ngClass]="{'timepicker-selected':(innerText==='11:30')}">11:30</li>
    <li (click)="emit($event)" [ngClass]="{'timepicker-selected':(innerText==='11:45')}">11:45</li>
    <li (click)="emit($event)" [ngClass]="{'timepicker-selected':(innerText==='12:00')}">12:00</li>
    <li (click)="emit($event)" [ngClass]="{'timepicker-selected':(innerText==='12:15')}">12:15</li>
    <li (click)="emit($event)" [ngClass]="{'timepicker-selected':(innerText==='12:30')}">12:30</li>
    <li (click)="emit($event)" [ngClass]="{'timepicker-selected':(innerText==='12:45')}">12:45</li>
    <li (click)="emit($event)" [ngClass]="{'timepicker-selected':(innerText==='13:00')}">13:00</li>
    <li (click)="emit($event)" [ngClass]="{'timepicker-selected':(innerText==='13:15')}">13:15</li>
    <li (click)="emit($event)" [ngClass]="{'timepicker-selected':(innerText==='13:30')}">13:30</li>
    <li (click)="emit($event)" [ngClass]="{'timepicker-selected':(innerText==='13:45')}">13:45</li>
    <li (click)="emit($event)" [ngClass]="{'timepicker-selected':(innerText==='14:00')}">14:00</li>
    <li (click)="emit($event)" [ngClass]="{'timepicker-selected':(innerText==='14:15')}">14:15</li>
    <li (click)="emit($event)" [ngClass]="{'timepicker-selected':(innerText==='14:30')}">14:30</li>
    <li (click)="emit($event)" [ngClass]="{'timepicker-selected':(innerText==='14:45')}">14:45</li>
    <li (click)="emit($event)" [ngClass]="{'timepicker-selected':(innerText==='15:00')}">15:00</li>
    <li (click)="emit($event)" [ngClass]="{'timepicker-selected':(innerText==='15:15')}">15:15</li>
    <li (click)="emit($event)" [ngClass]="{'timepicker-selected':(innerText==='15:30')}">15:30</li>
    <li (click)="emit($event)" [ngClass]="{'timepicker-selected':(innerText==='15:45')}">15:45</li>
    <li (click)="emit($event)" [ngClass]="{'timepicker-selected':(innerText==='16:00')}">16:00</li>
    <li (click)="emit($event)" [ngClass]="{'timepicker-selected':(innerText==='16:15')}">16:15</li>
    <li (click)="emit($event)" [ngClass]="{'timepicker-selected':(innerText==='16:30')}">16:30</li>
    <li (click)="emit($event)" [ngClass]="{'timepicker-selected':(innerText==='16:45')}">16:45</li>
    <li (click)="emit($event)" [ngClass]="{'timepicker-selected':(innerText==='17:00')}">17:00</li>
    <li (click)="emit($event)" [ngClass]="{'timepicker-selected':(innerText==='17:15')}">17:15</li>
    <li (click)="emit($event)" [ngClass]="{'timepicker-selected':(innerText==='17:30')}">17:30</li>
    <li (click)="emit($event)" [ngClass]="{'timepicker-selected':(innerText==='17:45')}">17:45</li>
    <li (click)="emit($event)" [ngClass]="{'timepicker-selected':(innerText==='18:00')}">18:00</li>
    <li (click)="emit($event)" [ngClass]="{'timepicker-selected':(innerText==='18:15')}">18:15</li>
    <li (click)="emit($event)" [ngClass]="{'timepicker-selected':(innerText==='18:30')}">18:30</li>
    <li (click)="emit($event)" [ngClass]="{'timepicker-selected':(innerText==='18:45')}">18:45</li>
    <li (click)="emit($event)" [ngClass]="{'timepicker-selected':(innerText==='19:00')}">19:00</li>
    <li (click)="emit($event)" [ngClass]="{'timepicker-selected':(innerText==='19:15')}">19:15</li>
    <li (click)="emit($event)" [ngClass]="{'timepicker-selected':(innerText==='19:30')}">19:30</li>
    <li (click)="emit($event)" [ngClass]="{'timepicker-selected':(innerText==='19:45')}">19:45</li>
    <li (click)="emit($event)" [ngClass]="{'timepicker-selected':(innerText==='20:00')}">20:00</li>
    <li (click)="emit($event)" [ngClass]="{'timepicker-selected':(innerText==='20:15')}">20:15</li>
    <li (click)="emit($event)" [ngClass]="{'timepicker-selected':(innerText==='20:30')}">20:30</li>
    <li (click)="emit($event)" [ngClass]="{'timepicker-selected':(innerText==='20:45')}">20:45</li>
    <li (click)="emit($event)" [ngClass]="{'timepicker-selected':(innerText==='21:00')}">21:00</li>
    <li (click)="emit($event)" [ngClass]="{'timepicker-selected':(innerText==='21:10')}">21:15</li>
    <li (click)="emit($event)" [ngClass]="{'timepicker-selected':(innerText==='21:30')}">21:30</li>
    <li (click)="emit($event)" [ngClass]="{'timepicker-selected':(innerText==='21:45')}">21:45</li>
    <li (click)="emit($event)" [ngClass]="{'timepicker-selected':(innerText==='22:00')}">22:00</li>
    <li (click)="emit($event)" [ngClass]="{'timepicker-selected':(innerText==='22:15')}">22:15</li>
    <li (click)="emit($event)" [ngClass]="{'timepicker-selected':(innerText==='22:30')}">22:30</li>
    <li (click)="emit($event)" [ngClass]="{'timepicker-selected':(innerText==='22:45')}">22:45</li>
    <li (click)="emit($event)" [ngClass]="{'timepicker-selected':(innerText==='23:00')}">23:00</li>
    <li (click)="emit($event)" [ngClass]="{'timepicker-selected':(innerText==='23:15')}">23:15</li>
    <li (click)="emit($event)" [ngClass]="{'timepicker-selected':(innerText==='23:30')}">23:30</li>
    <li (click)="emit($event)" [ngClass]="{'timepicker-selected':(innerText==='23:45')}">23:45</li>
  </ul>
</div>